In [3]:
#02
a=5;
b=10;
c=a+b;
print(c);

15

In [5]:
#03
x="Ali"
y=" Mughal"
z=x+y;
print(z);

Ali Mughal

In [8]:
#04
f="4";
g="8";
h=f+g;
print(h);

48

In [9]:
#05
a="10";
b=20;
c=a+b;
print(c);

TypeError: can only concatenate str (not "int") to str

In [11]:
#06
x=8;
y=x+7;
z=y-x+1;
print(z);

8

In [12]:
#07
a=12-4/2+9*5
print(a);

55.0

In [13]:
#08
a=((12-4)/(2+9)*5);
print(a);

3.6363636363636367

In [14]:
#09
x=10;
y=x%3;
print(y);

1

In [15]:
#10
f=10;
f=+12;
print(f);

12

In [16]:
#11
g=5;
g=g+2;
print(g);

7

In [17]:
#12
a=3;
a+=3;
print(a);

6

In [18]:
#13
a=3;
a=a+3;
print(a);

6

In [20]:
#14
a=" Muhammad Ali Mughal"
print("My name is" +a);

My name is Muhammad Ali Mughal

In [21]:
#15
gender="male"
if gender=="male":
    print("Allow to ride")

Allow to ride

In [22]:
#16 
gender="female"
if gender=="male":
    print("Allow to ride");
else:
    print("Rock lo");

Rock lo

In [23]:
#17
gender="female"
if gender!="male":
    print("allow to ride");
else:
    print ("Rock lo");

allow to ride

In [25]:
#18
age=14;
gender="female";
if age> 18 or gender=="male":
    print("Allow to ride");
else:
    print ("Rock lo");

Rock lo

In [27]:
age=18;
gender="male";
if age> 18 or gender=="male":
    print("Allow to ride");
else:
    print ("Rock lo");

Allow to ride

In [30]:
#19
age=14
gender="female"
if age > 10 or gender =="male":
    print("Allow to Ride");
else:
    print ("Rocl lo");

Allow to Ride

In [34]:
age=5;
gender="male"
if age > 10 or gender =="male":
    print("Allow to Ride");
else:
    print ("Rocl lo");

Allow to Ride

In [36]:
age=5;
gender="female"
if age > 10 or gender =="male":
    print("Allow to Ride");
else:
    print ("Rocl lo");

Rocl lo

In [3]:
#20 Marksheet
English =int(input("Enter Marks of English marks"));
Physics =int(input("Enter Marks of Physics marks"));
Maths =int(input("Enter Marks of Maths marks"));
Chemistry =int(input("Enter Marks of Chemistry marks"));
Islamiat =int(input("Enter Marks of Islamiat marks"));
Botony =int(input("Enter Marks of Botony marks"));
Zoology =int(input("Enter Marks of Zoology marks"));
total=English+Physics+Maths+Chemistry+Islamiat+Botony+Zoology
percent =total/700*100
print (percent);
if percent <100 and percent >90:
    print("Grade A+");
elif percent <90 and percent >80:
    print("Grade A");
elif percent < 80 and percent >70:
    print ("Grade B+");
elif percent <70 and percent >60:
    print ("Grade B");
elif percent <60 and percent >50:
    print ("Grade C");
elif percent <50 and percent >40:
    print ("Grade D");
elif percent <40 and percent >30:
    print ("Grade E");
elif percent <0 or percent >100:
    print ("condition not match");
else:
    print ("Fail");

Enter Marks of English marks45
Enter Marks of Physics marks35
Enter Marks of Maths marks65
Enter Marks of Chemistry marks95
Enter Marks of Islamiat marks75
Enter Marks of Botony marks65
Enter Marks of Zoology marks45
60.71428571428571
Grade B

In [4]:
#class no (02)
#01
x= int(input("Enter any number"));
y=25;
z= x+y;
print (z);

Enter any number10
35

In [8]:
#02
x=input("Enter any number");
y=25;
z=int(x)+y
print(z);

Enter any number10
35

In [7]:
#03
x=3**2
print(x);

9

In [9]:
#04
y=3**4
print(y);

81

In [13]:
#04
print("Hellow \n World");

Hellow
 World

In [12]:
print("Hellow\nWorld");

Hellow
World

In [14]:
#04
x=10;
y=12;
a=30;
b=8;
if x+y == a-b:
    print (True);
else:
    print(False);

True

In [1]:
#05
age=int(input("enter age"));
gender =input("enter gender");
if age >18 and gender =="male":
    print ("Allow");
else:
    print("Don't Allow")

enter age18
enter gendermale
Don't Allow

In [2]:
age=int(input("enter age"));
gender =input("enter gender");
if age >=18 and gender =="male":
    print ("Allow");
else:
    print("Don't Allow")

enter age18
enter gendermale
Allow

In [3]:
age=int(input("enter age"));
gender =input("enter gender");
if age >18 or gender =="male":
    print ("Allow");
else:
    print("Don't Allow")

enter age18
enter gendermale
Allow

In [4]:
#06 Learning List
arr =[112,6];
print(arr)

[112, 6]

In [7]:
#07 and other formate of comment
"""we are learning python learning list now"""
print("hellow world");

hellow world

In [12]:
#08
name1="zulqi";
name2="Rani";
name3="Ehsan";
name4="Samina";
name5="Bilal";
name6="Annad";
print (name1+","+name2+","+name3+","+name4+","+name5+","+name6)

zulqi,Rani,Ehsan,Samina,Bilal,Annad

In [2]:
#09
#List
name = ["zulqi","Rani","Ehsan","Samina","Bilal","Annad"];
print(name);print(name);

['zulqi', 'Rani', 'Ehsan', 'Samina', 'Bilal', 'Annad']

print(name[0]);

In [1]:
print(name[0]);

NameError: name 'name' is not defined

In [3]:
#09
#List
name = ["zulqi","Rani","Ehsan","Samina","Bilal","Annad"];
print(name);

['zulqi', 'Rani', 'Ehsan', 'Samina', 'Bilal', 'Annad']

In [4]:
print(name[0]);

zulqi

In [5]:
name[1]="Ali";
print (name);

['zulqi', 'Ali', 'Ehsan', 'Samina', 'Bilal', 'Annad']

In [6]:
name.append("Ahmed");
print(name);

['zulqi', 'Ali', 'Ehsan', 'Samina', 'Bilal', 'Annad', 'Ahmed']

In [7]:
arr=["lion",12,True,5.69]
print(arr)

['lion', 12, True, 5.69]

In [8]:
name

['zulqi', 'Ali', 'Ehsan', 'Samina', 'Bilal', 'Annad', 'Ahmed']

In [9]:
newlist= name+arr;
print(newlist);

['zulqi', 'Ali', 'Ehsan', 'Samina', 'Bilal', 'Annad', 'Ahmed', 'lion', 12, True, 5.69]

In [10]:
name

['zulqi', 'Ali', 'Ehsan', 'Samina', 'Bilal', 'Annad', 'Ahmed']

name=name.insert(3,"Rashid")

In [2]:
name

NameError: name 'name' is not defined

In [3]:
name = ["zulqi","Rani","Ehsan","Samina","Bilal","Annad"];
print(name);

['zulqi', 'Rani', 'Ehsan', 'Samina', 'Bilal', 'Annad']

In [4]:
name

['zulqi', 'Rani', 'Ehsan', 'Samina', 'Bilal', 'Annad']

In [5]:
name=name.insert(3,"Rashid")
print(name)

None

In [6]:
name

In [1]:
arr=["lion",12,True,5.69]
print(arr)

['lion', 12, True, 5.69]

In [2]:
arr.insert(2,"Raza")
print(arr)

['lion', 12, 'Raza', True, 5.69]